@using WebApp.Helpers;
<script src="~/Scripts/Views/vClientes.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "vClientes", id: "tblClientes", title: "Lista de clientes",
    columnsTitle: "Cedula,Nombre,Apellido,Fecha de Nacimiento,Edad,Estado Civil,Sexo", 
    ColumnsDataName: "Id,Nombre,Apellido,DOB,Edad,ECivil,Sexo",
    onSelectFunction: "BindFields")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header bg-secondary">
        <div class="row pull-right">
            <div class="col-md-8">Edición de Clientes</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vClientes", id: "btnCreate", label: "Create", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "vClientes", id: "btnUpdate", label: "Update", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "vClientes", id: "btnDelete", label: "Delete", onClickFunction: "Delete", buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtId", type: "text", label: "Cédula", columnDataName: "Id")
                        @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre", columnDataName: "Nombre")
                        @Html.CtrlInput(id: "txtLastName", type: "text", label: "Apellido", columnDataName: "Apellido")
                        @Html.CtrlInput(id: "txtEdad", type: "number", label: "Edad", columnDataName: "Edad")                        
                        
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlDropDown(id: "Genero", label: "Genero", listId: "LST_GENERO", columnDataName: "Sexo")
                        @Html.CtrlInput(id: "txtDOB", type: "date", label: "Fecha de Nacimiento", columnDataName: "DOB", visibility: "onkeydown='return false'")
                        @Html.CtrlDropDown(id: "EstadoCivil", label: "Estado Civil", listId: "LST_ECIVIL", columnDataName: "ECivil")
                    </form>
                </div>
            </div>
        </div>
    </div>   
</div>


